
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container{
    .jumbotron{
        //event_by_id.blade.php
        .row{
            #comments{
                padding-top: 20px;
            }
        }
        //event_by_id.blade.php END
    }

    .center_paginate{
        display: flex;
        justify-content:center;
    }

}